.light_theme{
    --text-color-1 : #000000;
    --text-color-2 : #2e2e2e;

    --input-text-color : #000000;
    
    --placeholder-color: rgb(85, 85, 85);
    --header-padding: 7px 13px 7px 12px;

    --bg-color-1: #ffffff;
    --bg-color-2: #f7f7f8;
    --bg-color-3: #e5e5e5;

    --usernotice-bg-color : var(--bg-color-3);
    --highlight-msg-bg-color: #ffc107;
    --container-bg-color : var(--bg-color-1);

    --chat-sent-ts-color : #ababab;
    --irc-msg-color : #4c4c4c;
    --highlight-msg-color: black;
    --text-disabled-color : #4c4c4c;
    --channel_container-hover-bg-color: var(--bg-color-3);

    --button-background-color: #ffe96a;
    --button-background-color-disabled: #ffe96a82;
    --button-color: black;
    --sidebar-btn-color : #525252;
    --sidebar-btn-hover-color : #3d3d3d;

    --chat-room-divider-color : #d7d7d7;
    
    --scrollbar-color: var(--bg-color-3);
    --anchor-color: #03a9f4;
}
.dark_theme{
    --text-color-1 : #ececec;
    --text-color-2 : #d3d3d3;

    --input-text-color : #ffffff;

    --placeholder-color: rgb(85, 85, 85);
    --header-padding: 7px 13px 7px 12px;

    --bg-color-1 : #1e1e1e;
    --bg-color-2 : #121212;
    --bg-color-3 : #343434;
    --bg-color-4 : #3e3e3e;

    --usernotice-bg-color : #2a2a2a;
    --highlight-msg-bg-color: #ffc107;
    --container-bg-color : var(--bg-color-1);

    --chat-sent-ts-color : #ababab;
    --irc-msg-color : #8b8b8b;
    --highlight-msg-color: black;
    --text-disabled-color : #4c4c4c;
    --channel_container-hover-bg-color: #333333;

    --button-background-color: #ffe96a;
    --button-background-color-disabled: #ffe96a82;
    --button-color: black;
    --sidebar-btn-color : rgb(187, 187, 187);
    --sidebar-btn-hover-color : #ececec;

    --chat-room-divider-color : #333333;
    
    --scrollbar-color: var(--bg-color-3);
    --anchor-color: #ffe96a;
}
body{
    background-color: var(--bg-color-2);
    color: var(--text-color-1);
    margin: 0;
    gap: 8px;
    width: 100%;
}
button, input[type=text] {
    border-radius: 4px;
    border: none;
    outline: none;
    height: 2.4rem;
}
button{
    font-family: inherit;
    background-color: var(--button-background-color);
    color: var(--button-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 3px 12px 3px 12px;
}
button:disabled{
    background-color: var(--button-background-color-disabled);
}
input[type=text]{
    font-family: inherit;
    color: var(--input-text-color);
    background-color: var(--bg-color-3);
    padding-left: 14px;
    width: 100%;
}
select{
    background-color: var(--bg-color-3);
    color: var(--text-color-1);
    font-family: inherit;
    border-radius: 4px;
    padding-left: 4px;
    border: none;
}
option{
    font-family: inherit;
}
.badge-info__line{
    display: grid;
    grid-template-columns: 1fr minmax(0, 1.1fr) minmax(0, 1.6fr) minmax(0, 2fr);
    font-size: 0.9rem;
    border-radius: 2px;
    padding: 6px 12px 6px 10px;
    margin: 0 8px 0 8px;
    gap: 8px;
    cursor: pointer;
}
.badge-info__line:not(#badge-info__title):hover{
    background-color: var(--bg-color-3);
}
.filter-list__line{
    display: grid;
    grid-template-columns: 0.4fr minmax(0, 1fr) minmax(0, 0.8fr) minmax(0, 3fr) minmax(0, 1fr);
    border-radius: 2px;
    align-items: center;
    padding: 6px 12px 6px 10px;
    margin: 0 8px 0 8px;
    gap: 8px;
    font-size: 0.9rem;
    cursor: pointer;
}
.filter-checkbox{
    width: 1rem;
    height: 1rem;
    margin: 0;
}
#user_setting{
    position: absolute;
    width: 13rem;
    max-height: calc(100vh - 1rem);
    top: 3.5rem;
    left: calc(100% - 13.5rem);
    padding: 8px 8px 8px 8px;
    margin: 8px 0 0 0;
    border-radius: 4px;
    background-color: var(--bg-color-1);
}
.user_setting_list{
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 0.9rem;
}
.user_setting_list:hover{
    font-weight: bold;
}
.container-title{
    display: inline-block;
    margin: 8px 0 8px 20px;
    font-weight: bold;
}
.container-title__note{
    padding-left: 20px;
    font-size: 0.9rem;
    color: var(--text-color-2);
}
#header{
    background-color: var(--bg-color-1);
    justify-content: space-between;
    padding: var(--header-padding);
    width: inherit;
    height: 3.4rem;
    align-items: center;
}
#header-left{
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}
#main{
    width: inherit;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}
#torso{
    justify-content: center;
    flex-direction: row;
}
#search-badge{
    flex: 1;
}
#filter-list{
    flex: 1;
}
@media (max-width: 800px){
    #torso{
        flex-direction: column;
    }
    #main{
        max-width: 36rem;
    }
}
#page-title{
    font-size: 0.9rem;
}
#logo{
    width: 2rem;
    vertical-align: middle;
}
#filter-add__header{
    background-color: inherit;
    gap: 8px;
}
#filter-add__badge-info{
    display: flex;
    min-width: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 9px;
    /* background-color: var(--bg-color-3); */
    border-radius: 4px;
    font-size: 0.9rem;
}
#search-badge__header{
    background-color: inherit;
    gap: 8px;
}
#search-badge__search{
    gap: 8px;
}
#search-badge__result{
    gap: 7px;
    height: 22.7rem;
    overflow: auto;
}
.search-badge__message{
    padding-left: 10px;
}
.search-badge_footer{
    display: flex;
    justify-content: space-between;
}
.search-result{
    display: flex;
    align-items: center;
    padding: 0 13px 0 0;
    font-size: 0.9rem;
}
#filter-list__result{
    gap: 7px;
    height: 22.7rem;
    overflow: auto;
}
#badge-info__title{
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 8px;
}
#filter-list__title{
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 8px;
}
#user-info__login{
    align-items: center;
    gap: 8px;
}
#user-profile_img{
    width: 2.475rem;
    border-radius: 100%;
}
#auth_info{
    padding: 2px;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: center;
}
.badge-channel{
    max-width: 7rem;
}
.badge-description{
    max-width: 11rem;
}
.pagination {
    align-items: center;
    gap: 14px;
}
.page-btn{
    background-color: var(--button-background-color);
    font-size: 2.4rem;
    color: var(--button-color);
    cursor: pointer;
}
.page-btn:hover{
    font-weight: bold;
}
.pagination-cursor > .page-btn:nth-child(1){
    border-radius: 4px 0 0 4px;
}
.pagination-page{
    font-size: 0.9rem;
}
.container_list{
    overflow: auto;
    gap: 14px;
    margin: 4px;
}
.romeoNjuliet{
    justify-content: space-between;
}
#filter-control{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    gap: 8px;
}
#filter-control__rm-sel{
    background-color: #ff574a;
}
#filter-control__rm-all{
    background-color: #ff574a;
}
#filter-control__upload{
    font-family: inherit;
    display: inline-flex;
    justify-content: center;
    background-color: var(--button-background-color);
    color: var(--button-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
    height: 2.4rem;
}
.filter-type{
    font-weight: bold;
}
.filter-type__include{
    color: var(--tbc-green);
}
.filter-type__exclude{
    color: var(--tbc-red);
}
.filter-type__sleep{
    color: var(--tbc-gray);
}