*{
    box-sizing: border-box;

    -webkit-transition: background-color 0.2s cubic-bezier(.25,.8,.25,1);
    -moz-transition: background-color 0.2s cubic-bezier(.25,.8,.25,1);
    -o-transition: background-color 0.2s cubic-bezier(.25,.8,.25,1);
    transition: background-color 0.2s cubic-bezier(.25,.8,.25,1);
}
.light_theme{
    --text-color : #000000;
    --text-color-2 : #2e2e2e;
    
    --placeholder-color: rgb(85, 85, 85);
    --header-padding: 7px 13px 7px 12px;

    --bg-color-1: #ffffff;
    --bg-color-2: #ffffff;
    --bg-color-3: #e5e5e5;

    --usernotice-bg-color : var(--bg-color-3);
    --highlight-msg-bg-color: #ffc107;
    --container-bg-color : var(--bg-color-1);

    --chat-sent-ts-color : #ababab;
    --irc-msg-color : #4c4c4c;
    --highlight-msg-color: black;
    --text-disabled-color : #4c4c4c;
    --channel_container-hover-bg-color: var(--bg-color-3);

    --button-background-color: #ffe96a;
    --button-background-color-disabled: #ffe96a82;
    --button-color: black;
    --sidebar-btn-color : #525252;
    --sidebar-btn-hover-color : #3d3d3d;

    --chat-room-divider-color : #d7d7d7;
    
    --scrollbar-color: var(--bg-color-3);
    --anchor-color: #03a9f4;
}

.dark_theme{
    --text-color : #ececec;
    --text-color-2 : #d3d3d3;
    
    --placeholder-color: rgb(85, 85, 85);
    --header-padding: 7px 13px 7px 12px;

    --bg-color-1 : #18181b;
    --bg-color-2 : #1e1e1e;
    --bg-color-3 : #343434;

    --usernotice-bg-color : #2a2a2a;
    --highlight-msg-bg-color: #ffc107;
    --container-bg-color : #272727;

    --chat-sent-ts-color : #ababab;
    --irc-msg-color : #8b8b8b;
    --highlight-msg-color: black;
    --text-disabled-color : #4c4c4c;
    --channel_container-hover-bg-color: #333333;

    --button-background-color: #ffe96a;
    --button-background-color-disabled: #ffe96a82;
    --button-color: black;
    --sidebar-btn-color : rgb(187, 187, 187);
    --sidebar-btn-hover-color : #ececec;

    --chat-room-divider-color : #333333;
    
    --scrollbar-color: var(--bg-color-3);
    --anchor-color: #ffe96a;
}
html, body {
    overscroll-behavior-y: contain;
}
html{
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color-1);
    color: var(--text-color);
}
a{
    color: var(--anchor-color);
    text-decoration: none;
}
hr{
    border: 1px solid var(--chat-room-divider-color);
}

div::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0);
}
div::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-color);
    border-radius: 4px;
    margin: 2px;
}
#main{
    height: 100%;
}
#chat_room{
    /* flex: 1; */
    width: 100%;
    /* background-color: var(--bg-color-1); */
}

#chat_list_container{
    display: flex;
    flex-direction: column;
    font-size: inherit;
    flex: 1;
    overflow: auto;
}
.chat_list{
    flex: 1;
    overflow: auto;
    overflow: overlay;
    font-size: inherit;
}


div.chat_line{
    padding: 4px 8px 4px 8px;
    overflow-wrap: anywhere;
}
div.chat{
    margin: 4px 20px 4px 0px;
    vertical-align: middle;
}
span.badges{
    display: inline-flex;
    vertical-align: inherit;
}
span.author{
    vertical-align: inherit;
}
span.chat_message{
    vertical-align: inherit;
}
div.usernotice{
    padding: 4px 10px 4px 10px;
    background-color: var(--usernotice-bg-color);
    border-radius: 10px;
}
img.chat_badge{
    display: inline-block;
    margin-right: 4px;
    vertical-align: baseline;
}
.highlighted-message{
    color: var(--highlight-msg-color);
    font-weight: bold;
    padding: 2px;
    background-color: var(--highlight-msg-bg-color);
}
.chat_author_disp{
    font-weight: 700;
}
.emoticon_container{
    display: inline-flex;
    width: 1.75rem;
    height: 1.75rem;

    vertical-align: inherit;
    margin: -0.8rem 0;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    justify-content: center;
    outline: none;
    pointer-events: all;
    padding: 0 0 0.4rem 0;
}
.irc_message_span{
    color: var(--irc-msg-color);
}
.bold{
    font-weight: bold;
}
.chat_message_separator{
    white-space: pre-wrap;
}
.chat_sent_ts{
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    color: var(--chat-sent-ts-color);
    vertical-align: middle;
}
.bits_amount{
    font-weight: bold;
}

#notification{
    background-color: var(--bg-color-1);
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}
#notification-messageList{
    padding: 16px 8px 16px 24px;
}
.notification__message{

}
.notification__x{
    padding: 0px 24px;
}
.container{
    margin: 9px 9px 9px 9px;
    background-color: var(--container-bg-color);
    border-radius: 4px;
}
.container_row{
    display: flex;
    flex-direction: row;
}
.container_col{
    display: flex;
    flex-direction: column;
}
.text-0{
    font-size: 1.2rem;
}
.text-1{
    font-size: 1.1rem;
}
.text-2{
    font-size: 0.9rem;
}
.text-3{
    font-size: 0.8rem;
}
.text-4{
    font-size: 0.7rem;
}

.font_size_0{
    font-size: 0.76rem;
}
.font_size_1{
    font-size: 0.86rem;
}
.font_size_2{
    font-size: 0.96rem;
}
.font_size_3{
    font-size: 1.06rem;
}

.tbc_highlight{
    border-left: 8px solid #333333;
}
.tbc_highlight_badge{
    border-left: 8px solid #ea5656;
}
.tbc_highlight_login_name{
    border-left: 8px solid #fbd000;
}
.tbc_highlight_keyword{
    border-left: 8px solid #1e97ff;
}
.selected{
    font-weight: bold;
    color: var(--text-color);
}
.flex-space-around{
    justify-content: space-around;
    align-items: center;
}
.gap-8{
    gap: 8px;
}
.scroller {
    scrollbar-color: var(--scrollbar-color) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; 
}
.hidden{
    display: none !important;
}
.italic{
    font-style: italic;
}
.cancel_line{
    text-decoration: line-through;
}