*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #0e0e0e;
    color: aliceblue;
}
button{
    white-space: nowrap;
}
#header{
    background-color: #1d1d1d;
    padding: 20px;
}
#logo{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
#main{
    flex: 1;
    min-width: 0;
}
#channel_setting{
    height: calc(100vh - 64px);
}
#followed_list{
    background-color: #1f1f23;
    position: absolute;
    height: calc(100vh - 64px);
    min-width: 15rem;
    overflow: auto;
    z-index: 1;
}
#chat_room{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #18181b;
}
#chat_list{
    flex: 1;
}
#chat_input{
    display: flex;
    gap: 4px;
    justify-self: end;
}
#chat_text_input{
    flex: 0.9;
}
#chat_text_send{
    flex: 0.1;
}
.container_row{
    display: flex;
    flex-direction: row;
}
.container_col{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}